body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollarea {
  overflow-y: auto;
}
/*Header*/
.mainHeader{
  color: white;
  padding-block: 10px;
  background-color: rgb(141, 141, 255);
  height: 50px;
  width: 100%;
}
#webpageTitle{
  margin-left: 10px;
}


/* Aside */
.sidebar {
  width: 55px;
  background-color: none;
  right: 0;
  position: absolute;
  transition: 0.3s;
}


.sidebar .nav-item,
.sidebar .dropdown{
  display: none;
}
.sidebar.collapsed .nav-item,
.sidebar.collapsed .dropdown{
  display: block;
}



.sidebar.collapsed { /*Opened sidebar*/
  width: 200px;
  background-color: rgb(237, 237, 237);
}
.sidebar.collapsed .navItemName {
  opacity: 1;
}
.sidebar.collapsed .navItemToolTip[data-bs-toggle="tooltip"] { /*Collapsed sidebar tooltip Dispabled*/
  pointer-events: none;
}
.sidebar.collapsed .nav-item:hover {
  transition: all 0.4s ease;
}
.menubar{
  margin-left: 5px;
}
#menubarBtn{
  color: white;
  background-color: rgba(141, 141, 255, 0);
  font-size: 20px;
  margin: 0;
  border: solid white 2px;
  border-radius: 10px;
}
.sidebar.collapsed #menubarBtn {
  color: black;
  border: none;
}
svg {
  fill: blue;
}
.activeNavItem svg {
  color: white;
}
.navItemName{
  color: black;
  font-size: 17px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}
.tooltip {
  pointer-events: none;
}
.activeNavItem { /*Selected nav Item*/
  background-color: rgb(141, 141, 255);
  color: white;
}
.activeNavItem .navItemName {
  color: white;
}
.nav-item:hover { /*Hover navItems*/
  background-color: rgb(206, 206, 255);
}
.nav-item:hover svg {
  color: blue;
}
.activeNavItem:hover .navItemName{
  color: black;
}
@media (min-width: 1024px) {
  .sidebar {
    width: 60px;
    background-color: rgb(237, 237, 237);
    position: relative;
    transition: 0.3s;
  }
  .sidebar .nav-item,
  .sidebar .dropdown{
    display: inline;
  }
  .sidebar.collapsed { /*Opened sidebar*/
    width: 200px;
  }
  .sidebar.collapsed .navItemName {
    opacity: 1;
  }
  .sidebar.collapsed .navItemToolTip[data-bs-toggle="tooltip"] { /*Collapsed sidebar tooltip Dispabled*/
    pointer-events: none;
  }
  .sidebar.collapsed .nav-item:hover {
    transition: all 0.4s ease;
  }
  svg {
  fill: blue;
  }
  #menubarBtn{
    color: black;
    background: none;
    font-size: 25px;
    padding: 10px;
    border: none;
  }
}